*.pyc
*.jpg
*.png
*.log
__pycache__/
env/
venv/
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.class
*.jar
*.war
*.iml
*.swp
*.swo
*.bak
*.tmp
*.old
*.zip
*.tar.gz
*.rar
*.7z